<!DOCTYPE HTML>
<html>
  <title></title>
  <body>
    <h1>Start to play!</h1>
    <form>
      <label>Adivina el código:</label>
      <input type="text" id="guess_number" name="guess_number" />
      <input type="submit" value="Jugar" />
    </form>
  </body>
</html>
